<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Separacion</title>
	<link rel="stylesheet" href="/css/juegos.css">
</head>
<body>
<main>
	<button class="menu">Regresar</button>
	<iframe allow="fullscreen; autoplay;" allowfullscreen frameborder="0" src="https://es.educaplay.com/juego/21656909-quiz_sobre_dulce_aprendizaje.html"></iframe>
</main>
<script defer src='/js/redireccionamiento.js'></script>
</body>
</html>