<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tutorial Hiato</title>
	<link rel="stylesheet" href="/css/tutorial.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<main class="principal">

	<div class="botonera">
		<button id='skip-button' class="buttonOption">Omitir</button>
		<button id='next-button' class="buttonOption">Siguiente</button>
	</div>

	<img id='image' alt="">
	
</main>
<script defer src='/js/tutorial.js'></script>
</body>
</html>