<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tutorial Separación</title>
	<link rel="stylesheet" href="/css/tutorial.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
<main class="principal">
	<div class="botonera">

		<button id='botonSkipSeparacion' class="buttonOption">Omitir</button>
		<button id='botonSiguienteSeparacion' class="buttonOption">Siguiente</button>
	</div>

	<img id='imagenSeparacion' alt="">
</main>
<script src='/js/tutorial2.js'></script>
</body>
</html>